views/projects/projects.erb

<% if logged_in? %>
  <% @projects.each do |project| %>
    <br></br>
    <a href='/projects/<%=project.id%>'><%= project.name %></a>
  <% end %>

  <br></br>
  <form action='/projects/new' method='get'>
    <input type='submit' value='Create Project'>
  </form>
<% else %>
  <h3>You must be logged in to view projects</h3>
<% end %>
<br></br>
